principal_rojo = #9A0B0B
principal_azul = #0359CD
principal_amarillo = #EDEA02
principal_gris = #282828
principal_background = #eddede
background_amarillo = #EDECDE
background_gris = #E3DEDE
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin 0
	padding 0
	border 0
	font-size 100%
	font: inherit;
	vertical-align baseline
@font-face
	font-family "tex"
	src url("../fonts/texgyreadventor-regular.otf")
@font-face
	font-family "tex-bold"
	src url("../fonts/texgyreadventor-bold.otf")
@font-face
	font-family "tex-italic"
	src url("../fonts/texgyreadventor-italic.otf")
@font-face
	font-family "tex-bolditalic"
	src url("../fonts/texgyreadventor-bolditalic.otf")
body
	background background_gris
	font-family "tex"
	overflow-x hidden
nav.movile
	max-height 0
	height auto
	padding 0
	width 100%
	overflow-y hidden
	background-color lighten(principal_gris,10%)
	position absolute
	top 113px
	z-index 99999
	left 0
	text-align center
	color white
	transition all .5s
	list-style none
	li 
		margin 1em 0
	a 
		color white
		text-decoration none
		border-bottom 1.5px solid transparent
		transition all .3s
		&:hover
			border-bottom 1.5px solid white
	&.active
		height auto
		max-height 200vh
		padding 3em 0 1em 0
#pedir-pizza
	position absolute
	z-index 100001
	bottom 70px
	cursor pointer
	left 50%
	margin-left -125px
	width 250px
	height 185px
	figure
		width 100%
		height 100%
		background-image url("../img/button.png")
		background-size 100%
		background-repeat no-repeat
		transition all .1s
		&:hover 
			background-image url("../img/button-hover.png")	
header
	display flex 
	justify-content center
	margin-top 4em
	#header_content
		background principal_gris
		width 95%
		height 50px
		display flex
		justify-content space-between
		#logo 
			background principal_rojo
			width 180px
			height 100%
			img
				position relative
				z-index 100000
				top -120%
				max-width 100%
				min-width 180px
		@media(max-width 800px)
			nav.desk
				display none !important
			nav.mov
				display block !important
		nav.mov
			width auto
			height 100%
			display none
			figure
				display flex
				justify-content center
				align-items center
				flex-wrap wrap
				height 100%
				max-width 100%
				padding-right 2rem
				padding-top 2px
				img
					max-width 40px
					max-height 40px
		nav.desk
			width 1000px
			height 100%
			ul
				height 100%
				display flex
				justify-content space-around
				align-content center
				a 
					color white
					text-decoration none
					border-bottom 1.5px solid transparent
					transition all .3s
					&:hover
						border-bottom 1.5px solid white
				li 
					display flex
					justify-content center
					align-items center
					list-style none
					font-family "tex-bold"
					&.important a 
						color lighten(principal_rojo,15%)
						&:hover
							border-bottom 1.5px solid lighten(principal_rojo,15%)	
footer
	width 100%
	display flex 
	justify-content center
	#footer_content
		width 90%
		min-height 200px
		background principal_gris
		display flex 
		justify-content space-around
		align-items center
		color white
		.phone-number
			font-size 40px
			color white
			font-family "tex-bold"
									
#promote_slider_container
	background lighten(principal_gris,20%)
	background-size cover
	width 100%
	display flex;
	justify-content center
	.text 
		width 100% !important
		max-width 100%
		.imagen_slide.center
			display flex !important
			justify-content center
			width 90%
			img 
				height auto
				max-width 100%
			
	.costura
		//background #fff
		background-image -moz-linear-gradient(top, #fff, #eee)
		background-image -ms-linear-gradient(top, #fff, #eee)
		background-image -o-linear-gradient( top, #fff, #eee)
		background-image -webkit-linear-gradient(top, #fff, #eee)
		background linear-gradient(top, #fff, #eee)
		border:1px solid #ddd
		border-radius 10px
		box-shadow 0 1px 0 #9a9a9a
		text-align  center
		font-size  1.5em
		line-height  1
		margin 0 0 10px
		padding 15px
		text-shadow 0 1px 1px #111
		position relative
		z-index 0
		width 300px
		max-width 50%
		letras = lighten(principal_rojo,35%)
		h3 
			color letras
			clear: both;
			position: relative;
			z-index 2
		span 
			color principal_gris
			clear: both;
			position: relative;
			z-index 2
		&:before 
			content ''
			position absolute
			z-index 1
			border 2px dashed lighten(letras,60%)
			border-radius 6px
			box-shadow 0 0 0 1px #fff
			height: 90%;
			width: 96%;
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
section
	width 100%
	display flex 
	justify-content center
	#main 
		width 100%
		//background white
		min-height 500px
		display flex;
		justify-content space-around
		padding-top 3em
		padding-bottom 2em
		flex-wrap wrap
		.banner
			background black
			img 
				max-width 100%
		#googleMap
			width 100%
			height 100%
			margin-top 2em
			border 4px solid principal_rojo
			box-shadow 0px 5px 7px black
		figure#ordenar_ahora
			margin-bottom 30px
			width 300px
			img 
				max-width 100%
				cursor pointer
				transition all .4s
				&:hover 
					transform scale(1.05)
		#favs
			width 750px
			min-height 150px 
			display flex
			flex-wrap wrap 
			justify-content space-around
			align-items center
			.title 
				width 100%
				h2 
					text-align center
					font-size 25px
					color principal_gris
					margin-bottom 5px
					font-family "tex-bold"
			figure
				width 230px
				height 160px 
				border-radius 15px
				border 4px solid principal_gris
				box-shadow 0px 5px 10px black
				cursor pointer
				overflow hidden
				position relative
				z-index 1
				img 
					position relative
					z-index -1
					border-radius 0px
					filter: grayscale(40%);
					min-height 103%
					min-width 103%
					width 100%
					transition all .5s
				&:hover 
					img
						border-radius 15px
						transform scale(1.2) rotate(10deg)
					
	