div.sucursal  {
	width:70%;
	background-color: white;
	text-align: center;
}
div.sucursal h1 {
	font-size: 200%;
	padding: 2%;
	width: 100%;
}

div.sucursal div.sucur {
	padding: 2%;
    width: 100%;
    float:left;
	
}
div.sucursal img{
	width: 30%;
	height: 200px;
	float:left;
	border-radius: 10%;
	transition: width 1s, height 1s;
}
div.sucursal img:hover {
	width: 35%;
	height: 250px;
}
div.sucursal div.sucur h2{
	text-align: center;
	padding-left: 40%;
	font-size: 130%;
}
div.sucursal div.sucur  h3 {
	text-align: left;
	padding-left: 40%;
	font-size: 130%;
}
div.sucursal div.sucur  p {
	text-align: left;
	padding-left: 40%;
	font-size: 100%;
}

div.desc {
	width: 70%;
	background-color: white;
	text-align: center;
}
div.desc h1 {
	font-size: 200%;
}
div.desc div.imagen img{
	width: 30%;
	height: 200px;
	float:left;
	border-radius: 20%;
	padding: 2%;
	transition: width 1s,height 1s;
}
div.desc div.imagen img:hover{
	width: 35%;
	height: 250px;
}

div.desc h2 {
	padding: 1%;
	font-size: 130%;
	text-align: left;
}
div.desc p {
	font-size: 100%;
	text-align: left;
}
div.desc #boton {
	text-align: right;
	float:right;
	padding: 1%;
}
div.desc input {
	padding: 20%;
	font-size: 100%;
}

div.direcciones {
	width: 70%;
	background-color: white;
	text-align: center;
	padding: 1%
}
div.direcciones h1 {
	font-size: 200%;
}
div.direcciones h2 {
	text-align: left;
	font-size: 150%;
	padding-bottom: 2%;
	padding-top: 2%
}
div.direcciones div.tabla {
	text-align: left;
}
div.direcciones div.tabla select {
	width: 85%;
	padding: .5%;
	float: left;
}
div.direcciones div.ndirec div.nuevo h3{
	width: 20%;
	text-align: left;
	float: left;
}
div.direcciones div.tabla div.enviar input{
	
	width: 10%;
	padding: .5%;

}

div.direcciones div.ndirec div.enviar input{
	
	width: 10%;
	padding: .5%;

}
div.direcciones div.ndirec div.enviar {
	padding-top: 7%;
	padding-bottom: 5%;
}

div.direcciones div#compra {
	background-color: white;
	text-align: center;
	padding-top: 1%;
	display: none;
}

.menu {
	width: 95%;
	background-color: white;
	text-align: center;
}
.menu h1 {
	font-size: 200%
}
.menu h2 {
	font-size: 130%;
	padding: 2%;
	text-align: center;
}
.menu img{
	width: 100%;
	height: 200px;
	border-radius: 20%;
}
.apartados .imag{
	width: 25%;
	height: 200px;
	-webkit-perspective: 500;
	
}

.imag{
	height: 100%;
	width: 200%;
	position: relative;
	transform-style: preserve-3d;
	transition: 1s;
	display: flex;
	float: left;
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 2%;
}

.imag:hover {
	transform: rotateY(180deg);
}



.lado {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
}
.frente {
	background:  white;
}
.atras {
	background:  white;
	transform: rotateY(180deg);
	opacity: .5;
}